figure.highlight {
	position: relative;
	margin: 0 !important;
	text-align: left !important;
}

figure.highlight,
figure.highlight pre {
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}


figure.result {
	padding: 20px;
	border: 1px solid #efefef;
	margin: 0 0 20px 0 !important;
	text-align: left !important;
}


.highlight > .label {
	outline: 0;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: .5rem;
	top: .5rem;
	opacity: 0.5;
}