figure.highlight {
	position: relative;
	margin: 0 !important;
	text-align: left !important;
}

figure.result {
	padding: 20px;
	border: 1px solid #efefef;
	margin: 0 0 20px 0 !important;
	text-align: left !important;
}


.highlight > .label {
	outline: 0;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: .25rem;
	top: .25rem;
}